/* some parts adapted from https://gist.github.com/adrianhajdin/997a8cdf94234e889fa47be89a4759f1 */

/* import font 'Prompt' from Google */
@import url("https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

/* specify font 'AlimamaDongFangDaKai' ( from: https://www.alibabafonts.com/#/more ) */
@font-face {
  font-family: "AlimamaDongFangDaKai";
  font-weight: 400;
  src: url("assets/AlimamaDongFangDaKai-Regular.woff2") format("woff2");
}

.prompt-light {
  font-family: "Prompt", "DongFang", sans-serif, system-ui;
  font-weight: 300;
  font-style: normal;
}

.prompt-regular {
  font-family: "Prompt", "DongFang", sans-serif, system-ui;
  font-weight: 400;
  font-style: normal;
}

.prompt-medium {
  font-family: "Prompt", "DongFang", sans-serif, system-ui;
  font-weight: 500;
  font-style: normal;
}

.prompt-bold {
  font-family: "Prompt", "DongFang", sans-serif, system-ui;
  font-weight: 700;
  font-style: normal;
}

.prompt-light-italic {
  font-family: "Prompt", "DongFang", sans-serif, system-ui;
  font-weight: 300;
  font-style: italic;
}

.prompt-regular-italic {
  font-family: "Prompt", "DongFang", sans-serif, system-ui;
  font-weight: 400;
  font-style: italic;
}

.prompt-medium-italic {
  font-family: "Prompt", "DongFang", sans-serif, system-ui;
  font-weight: 500;
  font-style: italic;
}

.prompt-bold-italic {
  font-family: "Prompt", "DongFang", sans-serif, system-ui;
  font-weight: 700;
  font-style: italic;
}
.alimamadongfangdakai {
  font-family: "AlimamaDongFangDaKai", "Prompt", sans-serif, system-ui;
  font-style: normal;
}
.alimamadongfangdakai-italic {
  font-family: "AlimamaDongFangDaKai", "Prompt", sans-serif, system-ui;
  font-style: italic;
}
* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  font-family: "Prompt", "AlimamaDongFangDaKai", sans-serif, system-ui;
  display: block;
  place-items: center;
  align-items: baseline;
  align-self: center;
  width: 100vw;
  min-width: 320px;
  min-height: 100vh;
}
#title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.search {
  width: 70%;
  margin: 1rem 0 2rem;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 1.1rem;
  border-radius: 3rem;
  background: #a3a7af;
  -webkit-box-shadow: 5px 5px 7px #a3a7af, -5px -5px 7px #5b5f61;
  box-shadow: 5px 5px 7px #a3a7af, -5px -5px 7px #5b5f61;
}
.search-icon {
  border-radius: 0.5rem;
  margin-left: 15px;
  color: #a3a7af;
  letter-spacing: 0.5px;
  font-size: 1.5rem;
  cursor: pointer;
  background: #5b5f61;
}

.search input {
  width: 48px;
  height: 48px;
  border-radius: 0.5rem;
  flex: 1;
  border: none;
  font-size: 1.5rem;
  font-weight: 500;
  padding-right: 1rem;
  outline: none;
  color: #e2e5ec;
  background: #5b5f61;
}

.search img {
  width: 48px;
  height: 48px;
  cursor: pointer;
  color: #a3a7af;
}

h1.animate {
  margin-top: 2vh;
  font-size: 3.2em;
  line-height: 1.1;
  letter-spacing: 0.9px;
  background: linear-gradient(
    to bottom right,
    rgba(249, 211, 180, 1) 0%,
    rgb(177, 104, 44) 50%,
    rgba(249, 211, 180, 0) 100%
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 500% auto;
  animation: gradient linear 5s alternate infinite;
  background-clip: text;
  width: fit-content;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
h1 {
  margin-top: 2vh;
  font-size: 3.2em;
  line-height: 1.1;
  letter-spacing: 0.9px;
  width: fit-content;
}

.cards {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  border-radius: 20%;
  border-color: #213547;
  padding-right: 1rem;
}

.card {
  display: flex;
  align-items: flex-start;
  justify-items: center;
  background-color: #eeb26a;
  padding: 1%;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1.3rem;
  overflow: hidden;
  cursor: pointer;
}

.card:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
  transform: scale(1.05, 1.05);
}

.card-img {
  width: 300px;
  max-width: 100%;
  overflow: hidden;
}

.card-img img {
  justify-content: space-around;
  background-size: contain;
  width: auto;
}

.card-info {
  max-width: 300px;
}

.card-info h2 {
  font-size: 20;
  max-width: 300px;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  line-height: 1.2;
  color: #1a1a1a;
}
.card-info p {
  max-width: 300px;
  padding: 0;
  margin: 0;
  line-height: 2;
  color: #1a1a1a;
}
.card-info a {
  padding: 0;
  margin: 0;
  line-height: 1;
  max-width: 300px;
}

.card-info a:hover {
  color: brown;
}

.card-info u {
  color: #047b06;
}

.not-found {
  display: grid;
  place-items: center;
  text-align: center;
  justify-items: center;
}

/* back-to-top adapted from: https://github.com/TylerPottsDev/css-effects-smooth-scroll-back-to-top */

.back-to-top {
  position: fixed;
  bottom: 2rem;
  right: 1rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #dc143c;
  border-radius: 0.5rem;
  padding: 0.5rem;
  text-decoration: none;
  transition: 0.2s ease-out;
}

.back-to-top span {
  color: #fff;
  font-size: 2rem;
  transition: 0.2s ease-out;
}

.back-to-top:hover {
  background-color: #be1a3b;
}
.back-to-top:hover span {
  transform: translateY(-4px);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
